:root {
  --display-title: 400 40px "Markazi Text", serif;
  --subtitle: 400 30px "Markazi Text", serif;
  --lead-text: 500 18px "Karla", sans-serif;
  --section-title: 800 20px "Karla", sans-serif;
  --categories: 800 16px "Karla", sans-serif;
  --card-title: 700 18px "Karla", sans-serif;
  --paragraph-text: 400 12px "Karla", sans-serif;
  --highlight-text: 500 16px "Karla", sans-serif;

  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-salmon: #EE9972;
  --secondary-light-salmon: #FBDABB;
  --highlight-gray: #EDEFEE;
  --highlight-charcoal: #333333;

  --light-green: #DBDFDD;

  --border-radius: 16px;
}

body {
  /* Start of properties set by create-react-app */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* End of properties set by create-react-app */

  font: var(--paragraph-text);
}

/* Common styles */

h1 {
  font: var(--display-title);
  margin: 5px;
}

h2 {
  font: var(--subtitle);
  margin: 5px;
}

h3 {
  font: var(--lead-text);
  margin: 5px;
}

h4 {
  font: var(--section-title);
  margin: 5px;
}

h5 {
  font: var(--categories);
  margin: 5px;
}

h6 {
  font: var(--card-title);
  margin: 5px;
}

p {
  font: var(--paragraph-text);
  margin: 5px;
}

/* This is too broad because it also puts a radius on icons */
/* img {
  border-radius: 10px;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 5px;
}

.nav-item {
  font: var(--highlight-text);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item:hover {
  background-color: var(--primary-yellow);
}

.nav-item:link, .nav-item:visited {
  text-decoration: none;
  color: var(--highlight-charcoal)
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

header .hamburger {
  display: block;
}

header .logo img {
  padding: 0.5rem;
  object-fit: cover;
  height: 40px;
}

header .nav {
  display: none;
}

/* main {
  Do we need anything here?
} */

footer {
  display: flex;
  justify-content: center;
  gap: 5%;
  background-color: var(--highlight-gray);

  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

footer .logo, footer .nav {
  display: none;
}

footer .contact p {
  margin: 5px;
  font: var(--paragraph-text);
}

footer .socials li {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 750px) {
  header {
    gap: 20px;
    justify-content: center;
  }

  header .hamburger {
    display: none;
  }

  header .nav, footer .nav, footer .nav-item {
    display: block;
  }

  header .nav-item {
    display: inline-block;
  }

  footer {
    border-radius: var(--border-radius);
  }

  footer .logo {
    display: grid;
    place-items: center;
  }

}

/* General component styles */

.major-section {
  max-width: 1320px;
  margin: 0 auto;

  border-radius: 0;
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .major-section {
    border-radius: 20px;
    margin-bottom: 5px;
  }
}

.major-section-content {
  width: 65%;
  margin: auto;
}

.hero {
  display: grid;
  align-items: center;
  /* text-align: center; */
  color: var(--highlight-gray);
  background-color: var(--primary-green);
}

.hero h1 {
  color: var(--primary-yellow);
}

.second {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-green);
}

.third {
  display: grid;
  align-items: center;
  text-align: center;
  color: var(--primary-green);
  background-color: var(--secondary-salmon);
}

.fourth {
  display: grid;
  align-items: center;
  text-align: center;
  color: black;
  background-color: var(--secondary-light-salmon);
}

/* Specific component styles */

/* Home page styles */

#home-hero {
  display: grid;
  height: 400px;
  grid-template-areas: "home-hero-text" "home-hero-image";
}

#home-hero-text {
  grid-area: home-hero-text;
}

#home-hero-text h1 {
  margin-top: 20px;
  margin-bottom: 0;
}

#home-hero-text h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#home-hero-image {
  grid-area: home-hero-image;
  display: grid;
  justify-items: center;
}

#home-hero-image img {
  height: 220px;
  width: 180px;
  border-radius: var(--border-radius);
}

@media (min-width: 750px) {
  #home-hero {
    display: grid;
    height: 220px;
    grid-template-areas: "home-hero-text . home-hero-image";
    grid-template-columns: 1fr 10% 1fr;
  }

  #home-hero-image img {
    transform: translateY(30px);
  }
}

#highlights h1 {
  text-align: left;
  margin-top: 40px;
}

#highlight-cards {
  display: block;
  margin-bottom: 20px;
}

.highlight-card {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-areas: "highlight-image" "highlight-text"
}

.highlight-image {
  grid-area: highlight-image;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.highlight-text {
  grid-area: highlight-text;
  height: 170px;
  padding: 15px;
  display: grid;
  grid-template-areas:
    "highlight-name highlight-price"
    "highlight-description highlight-description"
    "highlight-order highlight-order";
  text-align: left;
  background-color: var(--highlight-gray);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.highlight-name {
  grid-area: highlight-name;
  font-size: 16px;
  font-weight: bolder;
}

.highlight-price {
  grid-area: highlight-price;
  text-align: right;
  color: var(--secondary-salmon);
  font-weight: bolder;
}

.highlight-description {
  grid-area: highlight-description;
  font: var(--highlight-text);
  color: var(--primary-green);
  font-size: 14px;
  height: 100px;
}

.highlight-order {
  grid-area: highlight-order;
}

.highlight-order img {
  height: 20px;
  padding-left: 10px;
}

@media (min-width: 750px) {
  #highlight-cards {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
  }

  .highlight-card {
    margin-bottom: 0;
  }
}

#testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
}

#testimonials h1 {
  padding-bottom: 20px;
}

#testimonial-cards {
  display: block;
  margin-bottom: 20px;
}

.testimonial-card {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: var(--highlight-gray);
  border-radius: var(--border-radius);

  display: grid;
  grid-template-areas:
    "testimonial-rating testimonial-rating"
    "testimonial-image testimonial-name"
    "testimonial-review testimonial-review";
  grid-template-columns: 80px 120px;
  grid-template-rows: 10px 90px 40px;
}

.testimonial-card .stars {
  grid-area: testimonial-rating;
  /* display: inline-block; */
  vertical-align: bottom;
  margin-bottom: 10px;
}

.testimonial-image {
  grid-area: testimonial-image;
  display: grid;
  justify-items: center;
  align-items: center;
}

.testimonial-image img {
  width: 60px;
  border-radius: var(--border-radius);
}

.testimonial-name {
  grid-area: testimonial-name;
  display: flex;
  align-items: center;
}

.testimonial-review {
  grid-area: testimonial-review;
  text-align: left;
  padding: 5px;
}

@media (min-width: 750px) {
  #testimonial-cards {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
  }

  .testimonial-card {
    margin-bottom: 0;
  }
}
