:root {
  --display-title: 400 64px "Markazi Text", serif;
  --subtitle: 400 40px "Markazi Text", serif;
  --lead-text: 500 18px "Karla", sans-serif;
  --section-title: 800 20px "Karla", sans-serif;
  --categories: 800 16px "Karla", sans-serif;
  --card-title: 700 18px "Karla", sans-serif;
  --paragraph-text: 400 16px "Karla", sans-serif;
  --highlight-text: 500 16px "Karla", sans-serif;

  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-salmon: #EE9972;
  --secondary-light-salmon: #FBDABB;
  --highlight-gray: #EDEFEE;
  --highlight-charcoal: #333333;

  --border-radius: 16px;
}

body {
  /* Start of properties set by create-react-app */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* End of properties set by create-react-app */

  font: var(--paragraph-text);
}

/* Common styles */

h1 {
  font: var(--display-title);
  margin: 5px;
}

h2 {
  font: var(--subtitle);
  margin: 5px;
}

h3 {
  font: var(--lead-text);
  margin: 5px;
}

h4 {
  font: var(--section-title);
  margin: 5px;
}

h5 {
  font: var(--categories);
  margin: 5px;
}

h6 {
  font: var(--card-title);
  margin: 5px;
}

p {
  font: var(--paragraph-text);
  margin: 5px;
}

/* This is too broad because it also puts a radius on icons */
/* img {
  border-radius: 10px;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 5px;
}

.nav-item {
  font: var(--lead-text);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item:hover {
  background-color: var(--primary-yellow);
}

.nav-item:link, .nav-item:visited {
  text-decoration: none;
  color: var(--highlight-charcoal)
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

header .hamburger {
  display: block;
}

header .logo img {
  padding: 0.5rem;
  object-fit: cover;
  height: 40px;
}

header .nav {
  display: none;
}

/* main {
  Do we need anything here?
} */

footer {
  display: flex;
  justify-content: center;
  gap: 5%;
  background-color: var(--highlight-gray);

  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

footer .logo, footer .nav {
  display: none;
}

footer .contact p {
  margin: 5px;
  font: var(--paragraph-text);
}

footer .socials li {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 750px) {
  header {
    gap: 20px;
    justify-content: center;
  }

  header .hamburger {
    display: none;
  }

  header .nav, footer .nav  {
    display: block;
  }

  header .nav-item {
    display: inline-block;
  }

  footer {
    border-radius: 20px;
  }

  footer .logo {
    display: grid;
    place-items: center;
  }

  footer .nav-item {
    display: block;
  }
}

/* Component styles */

.major-section {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;

  border-radius: 0;
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .major-section {
    border-radius: 20px;
    margin-bottom: 5px;
  }
}

.hero {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100px;
  color: var(--primary-yellow);
  background-color: var(--primary-green);
}

.highlights, .reservation {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: var(--highlight-gray);
}

.testimonials, .seating {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100px;
  color: var(--primary-green);
  background-color: var(--secondary-salmon);
}

.about {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100px;
  color: black;
  background-color: var(--secondary-light-salmon);
}
