:root {
  --display-title: 400 64px "Markazi Text", serif;
  --subtitle: 400 40px "Markazi Text", serif;
  --lead-text: 500 18px "Karla", sans-serif;
  --section-title: 800 20px "Karla", sans-serif;
  --categories: 800 16px "Karla", sans-serif;
  --card-title: 700 18px "Karla", sans-serif;
  --paragraph-text: 400 16px "Karla", sans-serif;
  --highlight-text: 500 16px "Karla", sans-serif;

  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-salmon: #EE9972;
  --secondary-light-salmon: #FBDABB;
  --highlight-gray: #EDEFEE;
  --highlight-charcoal: #333333;
}

body {
  /* Start of properties set by create-react-app */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* End of properties set by create-react-app */

  font: var(--paragraph-text);
}

h5 {
  font: var(--categories);
  color: var(--highlight-charcoal);
  margin: 5px;
}

header {
  display: flex;
}

header img {
  padding: 0.5rem;
  object-fit: cover;
  height: 40px;
}

nav ul {
  list-style: none;
}

nav li {
  font: var(--lead-text);
  color: black;
}

header nav li {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

nav li:hover {
  background-color: var(--primary-yellow);
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: var(--highlight-charcoal)
}

footer {
  display: grid;
  grid-template-areas: "footer-logo footer-nav footer-contact footer-socials";
  grid-template-columns: repeat(4, 0.25fr);
  background-color: var(--highlight-gray);
}

footer .logo {
  grid-area: footer-logo;
  display: grid;
  place-items: center;
}

footer .nav {
  grid-area: footer-nav;
}

footer .contact {
  grid-area: footer-contact;
}

footer .contact p {
  margin: 5px;
  font: var(--paragraph-text);
}

footer .contact b {
  margin: 0;
  font-weight: bolder;
}

footer .socials {
  grid-area: footer-socials;
}

footer .socials ul {
  list-style: none;
}

footer .socials li {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
